.container {
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
}
.nav-hr {
    background: rgb(183, 183, 183);
    height: 1px;
    border: 0;
}

footer {
    width: 100%;
}
header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}
