.notices-container,
.notice-container {
    width: 90%;
    margin: 0 auto;
}
.notice-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.notice-title {
    font-size: 3rem;
}
.new-icon {
    width: 24px;
    height: 24px;

    margin-left: 6px;

    vertical-align: middle;
}
.notice-info {
    display: flex;
}
.notice-info-item {
    margin-right: 10px;
}

.notice-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    border-bottom: 1px solid #eee;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.notice-item:hover {
    background-color: #f9f9f9;
}

.item-title {
    flex-grow: 1;
    margin-right: 20px;
}

.item-meta {
    display: flex;
    gap: 15px;
    font-size: 0.9em;
    color: #666;
    flex-shrink: 0;
}
.notice-header-meta {
    display: flex;
    gap: 15px;
    flex-shrink: 0;
}

.item-views {
    min-width: 70px;

    text-align: right;

    display: inline-block;
}
@media (max-width: 600px) {
    .notice-item {
        flex-direction: column;
        align-items: flex-start;
    }
    .item-meta {
        margin-top: 5px;
        flex-direction: row;
    }
}
.notice-header {
    cursor: auto;
    font-weight: 600;
}
.notice-header:hover {
    background-color: white;
}
.notice-write-container {
    margin: 0 auto;
    width: 80%;
}
.notice-write-title-label {
    color: rgb(60, 54, 54);
    font-size: x-large;
    font-weight: bolder;
}
.page-container {
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 0 auto;
}
.prev-btn,
.next-btn {
    border: none;
    padding: 10px;
    color: #5f9ea0;
    background-color: transparent;
    cursor: pointer;
}

.pagination-btn {
    padding: 10px;
    border: none;
    cursor: pointer;
}
.pagination-btn:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.pagination-btn:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.selected-page {
    background-color: #5f9ea0;
    color: white;
}

.notice-write-title-input input {
    width: 100%;
    box-sizing: border-box;
    margin: 10px 0px;
    padding: 5px;
    height: 40px;
    border-radius: 5px;
    border-style: solid;
    border-color: rgb(187, 187, 187);
    border-width: 1px;
    outline: none;
}
.cke_notification.cke_notification_warning {
    display: none;
}
.notice-write-btn-div {
    margin-top: 10px;
    text-align: right;
}

.notice-btns {
    text-align: right;
}
.notice-btns .notice-delete {
    background-color: rgb(17, 45, 41);
}
.notice-btn {
    margin-left: 5px;
    box-sizing: border-box;
}
.notice-write-btn,
.notice-write-cancel-btn,
.notice-btn,
.delete-confirm-btn,
.delete-cancel-btn {
    padding: 10px;
    width: 100px;
    color: white;
    font-size: large;
    background-color: rgb(44, 83, 78);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.delete-confirm-btn {
    margin-right: 5px;
    background-color: rgb(17, 45, 41);
}

.notice-write-cancel-btn {
    margin-left: 5px;
}

.notice-write-btn:hover,
.notice-write-cancel-btn:hover,
.notice-btn:hover,
.delete-cancel-btn:hover,
.delete-confirm-btn:hover {
    background-color: rgb(72, 125, 117);
}
.delete-confirm {
    text-align: center;
}
.notice-nav-label {
    font-weight: 600;
}
